<div class="section background-dark over-hide">
    <div class="container-fluid py-4">
        <div class="row">
            <ng-container *ngFor="let slide of sliderdata">
                <div class="col-sm-6 col-lg-3">
                    <div class="img-wrap services-wrap">
                        <img src={{slide.image}} alt="">
                        <div class="services-text-over">{{slide.name}}</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>