<div class="section big-55-height over-hide z-bigger">

    <div class="parallax parallax-top" style="background-image: url('../../assets/img/video-res.jpg')"></div>
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text">Get in Touch</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom-smaller background-dark-2 over-hide">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5 class="color-grey">A new dimension of luxury.</h5>
                <p class="color-white mt-3 mb-3"><em>our presentation, 0:48 min</em></p>
                <a href="https://youtu.be/INQNRevrY6k" class="video-button" data-fancybox><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</div>




<div class="scroll-to-top"></div>