<div class="section background-grey over-hide">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-xl-6 px-0">
                <div class="img-wrap" id="rev-1">
                    <img src="../../../assets/img/room1.jpg" alt="">
                    <div class="text-element-over">Balcony room</div>
                </div>
            </div>
            <div class="col-xl-6 px-0 mt-4 mt-xl-0 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-8 text-center">
                        <h3 class="text-center">Balcony room</h3>
                        <p class="text-center mt-4">Balcony room it’s suitable for family and friends.</p>
                        <a class="mt-5 btn btn-primary" href="search.html">check availability</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-xl-6 px-0 mt-4 mt-xl-0 pb-5 pb-xl-0 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-8 text-center">
                        <h3 class="text-center">Aframe room</h3>
                        <p class="text-center mt-4">Aframe room it’s suitable for couples.</p>
                        <a class="mt-5 btn btn-primary" href="search.html">check availability</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 px-0 order-first order-xl-last mt-5 mt-xl-0">
                <div class="img-wrap" id="rev-2">
                    <img src="../../../assets/img/room2.jpg" alt="">
                    <div class="text-element-over">Aframe room</div>
                </div>
            </div>
        </div>
    </div>
</div>