<div class="section background-grey over-hide">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-xl-6 px-0">
                <div class="img-wrap" id="rev-1">
                    <img src="../../../assets/img/room1.jpg" alt="">
                    <div class="text-element-over">Balcony room</div>
                </div>
            </div>
            <div class="col-xl-6 px-0 mt-4 mt-xl-0 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-8 text-center">
                        <h3 class="text-center">Balcony room</h3>
                        <p class="text-center mt-4">For gatherings with family and friends, a balcony room is ideal.
                            There will be a beautiful view of the Palani Temple and Palani City, like flashing stars.  
                            "Family and friends are hidden treasures, seek them out and enjoy their riches".</p>
                        <a class="mt-5 btn btn-primary" href="https://wa.me/918610728170?text=Hi%2C%0AI%20am%20messaging%20to%20enquire%20about%20availability%20of%20Balcony%20room%20for%202%20adults%20on%20%5Bdate%5D%20to%20%5Bdate%5D." target="_blank">Enquiry</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-xl-6 px-0 mt-4 mt-xl-0 pb-5 pb-xl-0 align-self-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-8 text-center">
                        <h3 class="text-center">Aframe room</h3>
                        <p class="text-center mt-4">This cabin is ideal for couples. 
                            Our cabin has a panoramic view of the entire mountain range.
                            Our cabin has a clean, private bathroom with hot water.
                            Stunning room view of the morning.
                           
                           "Falling in love all over again".</p>
                        <a class="mt-5 btn btn-primary" href="https://wa.me/918610728170?text=Hi%2C%0AI%20am%20messaging%20to%20enquire%20about%20availability%20of%20Aframe%20room%20for%202%20adults%20on%20%5Bdate%5D%20to%20%5Bdate%5D." target="_blank">Enquiry</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 px-0 order-first order-xl-last mt-5 mt-xl-0">
                <div class="img-wrap" id="rev-2">
                    <img src="../../../assets/img/room2.jpg" alt="">
                    <div class="text-element-over">Aframe room</div>
                </div>
            </div>
        </div>
    </div>
</div>