<div class="section padding-top z-bigger">
    <div class="container">
        <div class="row justify-content-center padding-bottom-smaller">
            <div class="col-md-8">
                <div class="subtitle with-line text-center mb-4">get in touch</div>
                <h3 class="text-center padding-bottom-small">drop us a line</h3>
            </div>
            <div class="section clearfix"></div>
            <div class="col-md-6 col-lg-4">
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">Address:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>Bharathi Nagar, Attuvampatti, Kodaikanal</p>
                    </div>
                </div>
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">City:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>Dindugal - 624101</p>
                    </div>
                </div>
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">Check-In:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>1:15 pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">Phone:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>+91 8610728170, 9385959693</p>
                    </div>
                </div>
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">Email:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>intothewildkodai@gmail.com</p>
                    </div>
                </div>
                <div class="address">
                    <div class="address-in text-left">
                        <p class="color-black">Check-Out:</p>
                    </div>
                    <div class="address-in text-right">
                        <p>10:30 am</p>
                    </div>
                </div>
            </div>
            <div class="section clearfix"></div>
            <div class="col-md-8 text-center mt-5" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <p class="mb-0"><em>available at: 8am - 10pm</em></p>
                <h2 class="text-opacity">+91 8610728170</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="subscribe-home">
                    <input type="text" placeholder="your email here" />
                    <button data-lang="en"><a href="mailto:intothewildkodai@gmail.com" target="_blank" style="color: #fff;">Mail Us</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of sliderdata">
            <ng-template carouselSlide>
                <img src={{slide.imageUrl}} alt="">
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>

<div class="section padding-top-bottom-small background-black over-hide footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center text-md-left">
                <img src="../assets/img/logo.png" alt="">
                <p class="color-grey mt-4">Bharathi Nagar, Attuvampatti, Kodaikanal <br> dindugal - 624101 </p>
            </div>
            <div class="col-md-4 text-center text-md-left">
                <h6 class="color-white mb-3">information</h6>
                <a href="#">Gallery &amp; Images</a>
                <a href="https://instagram.com/intothewild_kodai?igshid=YmMyMTA2M2Y=">Instagram</a>
                <a href="#">Location (Google map)</a>
                <a href="#">Review</a>
            </div>
            <div class="col-md-5 mt-4 mt-md-0 text-center text-md-left logos-footer">
                <h6 class="color-white mb-3">about us</h6>
                <p class="color-grey mb-4">Welcome to into the wild woodhouse resorts (kodaikanal) located at the hill top at the altitude of 2225 meters (7299 Ft) above the sea level. Providing a completely privacy, secure and the peace full wild stay and you will live with nature and enjoy the climate feel the clouds and mist over there.</p>
                <div class="row">
                    <a href="https://instagram.com/intothewild_kodai?igshid=YmMyMTA2M2Y=" target="_blank"><img src="../../../assets/img/logos/instagram.png" alt=""></a>
                    <a href="#" target="_blank"><img src="../../../assets/img/logos/google-map.png" alt=""></a>
                    <a href="#" target="_blank"><img src="../../../assets/img/logos/google-photos.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section py-4 background-dark over-hide footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mb-2 mb-md-0">
                <p>2023 © Into The Wild. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>